<h3>Body</h3><br><p><%=@email.body%><p>
<p><%= link_to "Supprimer", email_path(email), class: "btn btn-danger", method: :delete, remote: true%><p>
<p><%= link_to "Marquer comme lu", emails_path, class: "btn btn-success", remote: true, method: :post%><p>
