<h1 class="text-center">Emails</h1><br>
<div class="container mb-4">
<%= link_to "Recevoir un email", emails_path, class: "btn btn-info", remote: true, method: :post%>
</div>

  <div class="container d-flex flex-row">
    <div class="col-6 border">
      <h2 class="border">Liste des emails</h2>
        <div class="card-title">
          <ul id="email-list">
          <% @email.each do |email|  %>
            <p><%= email.object%><p>
              <%=link_to "Afficher l'email", email_path(email), remote: true%><br>
          <% end %>
          </ul>
        </div>
    </div>
      <div class="col-6 border">
        <h2 class="border">Emails sélectionnés</h2>
        <ul id="email-selected">

        </ul>
      </div>
  </div>
<div class="w-100"></div>
  </div>
